In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
agri_train=pd.read_excel(r'C:\Users\HP SMART\Desktop\train.xlsx')

In [3]:
agri_train.head()

,ID,Insects,Crop,Soil,Category_of_Toxicant,Does_count,Number_of_Weeks_Used,Number_Weeks_does_not used,Season,Crop_status
0,1,188,Feed,clay,1,0,0.0,0,1,0
1,2,209,Feed,clay,1,0,0.0,0,2,1
2,3,257,Feed,clay,1,0,0.0,0,2,1
3,4,257,Feed,silt,1,0,0.0,0,2,1
4,5,342,Feed,clay,1,0,0.0,0,2,1

In [4]:
agri_train.shape

(80000, 10)

In [5]:
agri_train.describe()

,ID,Insects,Category_of_Toxicant,Does_count,Number_of_Weeks_Used,Number_Weeks_does_not used,Season,Crop_status
count,80000.000000,80000.000000,80000.000000,80000.000000,71945.000000,80000.000000,80000.000000,80000.000000
mean,40000.500000,1400.020875,2.267587,25.846750,28.664480,9.549088,1.897575,0.192312
std,23094.155105,849.792471,0.463748,15.557246,12.424751,9.905547,0.702079,0.455912
min,1.000000,150.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,20000.750000,731.000000,2.000000,15.000000,20.000000,0.000000,1.000000,0.000000
50%,40000.500000,1212.000000,2.000000,20.000000,28.000000,7.000000,2.000000,0.000000
75%,60000.250000,1898.000000,3.000000,40.000000,37.000000,16.000000,2.000000,0.000000
max,80000.000000,4097.000000,3.000000,95.000000,67.000000,50.000000,3.000000,2.000000

In [6]:
agri_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 10 columns):
ID                            80000 non-null int64
Insects                       80000 non-null int64
Crop                          80000 non-null object
Soil                          80000 non-null object
Category_of_Toxicant          80000 non-null int64
Does_count                    80000 non-null int64
Number_of_Weeks_Used          71945 non-null float64
Number_Weeks_does_not used    80000 non-null int64
Season                        80000 non-null int64
Crop_status                   80000 non-null int64
dtypes: float64(1), int64(7), object(2)
memory usage: 6.1+ MB

In [7]:
agri_train.isnull().sum()

ID                               0
Insects                          0
Crop                             0
Soil                             0
Category_of_Toxicant             0
Does_count                       0
Number_of_Weeks_Used          8055
Number_Weeks_does_not used       0
Season                           0
Crop_status                      0
dtype: int64

In [8]:
agri_train.Crop.value_counts()

Food    57333
Feed    22667
Name: Crop, dtype: int64

In [9]:
agri_train.Crop.value_counts()

Food    57333
Feed    22667
Name: Crop, dtype: int64

In [10]:
agri_train.Number_of_Weeks_Used=agri_train.Number_of_Weeks_Used.fillna(agri_train.Number_of_Weeks_Used.median())

In [11]:
agri_train.isnull().sum()

ID                            0
Insects                       0
Crop                          0
Soil                          0
Category_of_Toxicant          0
Does_count                    0
Number_of_Weeks_Used          0
Number_Weeks_does_not used    0
Season                        0
Crop_status                   0
dtype: int64

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
le=LabelEncoder()

In [14]:
agri_train[agri_train.select_dtypes(include=['object']).columns]=agri_train[agri_train.select_dtypes(include=['object']).columns].apply(le.fit_transform)

In [15]:
agri_train['add'] = agri_train['Number_of_Weeks_Used'] + agri_train['Number_Weeks_does_not used']

In [16]:
agri_train.head()

,ID,Insects,Crop,Soil,Category_of_Toxicant,Does_count,Number_of_Weeks_Used,Number_Weeks_does_not used,Season,Crop_status,add
0,1,188,0,0,1,0,0.0,0,1,0,0.0
1,2,209,0,0,1,0,0.0,0,2,1,0.0
2,3,257,0,0,1,0,0.0,0,2,1,0.0
3,4,257,0,1,1,0,0.0,0,2,1,0.0
4,5,342,0,0,1,0,0.0,0,2,1,0.0

In [17]:
agri_train1=agri_train.drop(['Number_of_Weeks_Used','Number_Weeks_does_not used'],axis=1)

In [18]:
agri_train1_x=agri_train1.iloc[:,agri_train1.columns!='Crop_status']
agri_train1_y=agri_train1.iloc[:,agri_train1.columns=='Crop_status']

In [19]:
agri_test=pd.read_excel(r'C:\Users\HP SMART\Desktop\test.xlsx')

In [20]:
agri_test.head()

,ID,Insects,Crop,Soil,Category_of_Toxicant,Does_count,Number_of_Weeks_Used,Number_Weeks_does_not used,Season
0,1,188,Feed,silt,1,0,NaN,0,2
1,2,410,Feed,silt,1,0,0.0,0,2
2,3,626,Feed,clay,1,0,0.0,0,2
3,4,731,Feed,clay,1,0,0.0,0,2
4,5,789,Food,clay,1,0,0.0,0,1

In [21]:
agri_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35000 entries, 0 to 34999
Data columns (total 9 columns):
ID                            35000 non-null int64
Insects                       35000 non-null int64
Crop                          35000 non-null object
Soil                          35000 non-null object
Category_of_Toxicant          35000 non-null int64
Does_count                    35000 non-null int64
Number_of_Weeks_Used          31458 non-null float64
Number_Weeks_does_not used    35000 non-null int64
Season                        35000 non-null int64
dtypes: float64(1), int64(6), object(2)
memory usage: 2.4+ MB

In [22]:
agri_test.describe()

,ID,Insects,Category_of_Toxicant,Does_count,Number_of_Weeks_Used,Number_Weeks_does_not used,Season
count,35000.000000,35000.000000,35000.000000,35000.000000,31458.000000,35000.000000,35000.00000
mean,17500.500000,1394.015343,2.268514,25.876429,28.775701,9.414886,1.90020
std,10103.774047,849.471207,0.465701,15.535749,12.438473,9.820158,0.70169
min,1.000000,150.000000,1.000000,0.000000,0.000000,0.000000,1.00000
25%,8750.750000,731.000000,2.000000,15.000000,20.000000,0.000000,1.00000
50%,17500.500000,1212.000000,2.000000,20.000000,28.000000,7.000000,2.00000
75%,26250.250000,1898.000000,3.000000,40.000000,38.000000,16.000000,2.00000
max,35000.000000,4097.000000,3.000000,95.000000,67.000000,50.000000,3.00000

In [23]:
agri_test.isnull().sum()

ID                               0
Insects                          0
Crop                             0
Soil                             0
Category_of_Toxicant             0
Does_count                       0
Number_of_Weeks_Used          3542
Number_Weeks_does_not used       0
Season                           0
dtype: int64

In [24]:
agri_test.Crop.value_counts()

Food    25041
Feed     9959
Name: Crop, dtype: int64

In [25]:
agri_test.Number_of_Weeks_Used=agri_test.Number_of_Weeks_Used.fillna(agri_test.Number_of_Weeks_Used.median())

In [26]:
agri_test.isnull().sum()

ID                            0
Insects                       0
Crop                          0
Soil                          0
Category_of_Toxicant          0
Does_count                    0
Number_of_Weeks_Used          0
Number_Weeks_does_not used    0
Season                        0
dtype: int64

In [27]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [28]:
agri_test[agri_test.select_dtypes(include=['object']).columns]=agri_test[agri_test.select_dtypes(include=['object']).columns].apply(le.fit_transform)

In [29]:
agri_test['add'] = agri_test['Number_of_Weeks_Used'] + agri_test['Number_Weeks_does_not used']

In [30]:
agri_test1=agri_test.drop(['Number_of_Weeks_Used','Number_Weeks_does_not used'],axis=1)

In [31]:
agri_test1.head()

   ID  Insects  Crop  Soil  Category_of_Toxicant  Does_count  Season   add
0   1      188     0     1                     1           0       2  28.0
1   2      410     0     1                     1           0       2   0.0
2   3      626     0     0                     1           0       2   0.0
3   4      731     0     0                     1           0       2   0.0
4   5      789     1     0                     1           0       1   0.0

In [32]:
agri_test1_x=agri_test1.iloc[:,:]

In [33]:
from sklearn.ensemble import RandomForestClassifier

In [34]:
rf=RandomForestClassifier()

In [35]:
rf

RandomForestClassifier()

In [36]:
from sklearn.ensemble import GradientBoostingClassifier

In [44]:
ada=GradientBoostingClassifier(learning_rate=1.0,n_estimators=100)

In [45]:
ada

GradientBoostingClassifier(learning_rate=1.0)

In [46]:
ada.fit(agri_train1_x,agri_train1_y)

C:\Users\HP SMART\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

GradientBoostingClassifier(learning_rate=1.0)

In [47]:
pred_value=ada.predict(agri_test1_x)

In [48]:
pred_value

array([1, 2, 2, ..., 0, 0, 0], dtype=int64)

In [49]:
submit=pd.concat([agri_test.ID,pd.Series(pred_value)],axis=1)
submit=submit.rename(columns={0:"Crop_status"})
submit['Crop_status'].value_counts()

0    33281
1     1345
2      374
Name: Crop_status, dtype: int64

In [50]:
submit.to_csv(r'D:\submission.csv',index=False)